# .env.example

# Postgres / PostGIS
POSTGRES_USER=fluxsense
POSTGRES_PASSWORD=fluxsense
POSTGRES_DB=fluxsense
DATABASE_URL=postgresql://fluxsense:fluxsense@db:5432/fluxsense

# Redis
REDIS_URL=redis://redis:6379

# Copernicus Sentinel Hub
SENTINEL_CLIENT_ID=sh-e7396bfe-2fb0-425b-8987-5bbd9b7004a0
SENTINEL_CLIENT_SECRET=rOFJvRWNAfERLX6QaWoPH5rjVHDsS0BS

# NASA FIRMS
FIRMS_API_KEY=d03091db214d8fe64cf602223bc55fdb

# OpenWeatherMap
OWM_API_KEY=9a4a5e8be908816b751a43627dce0ccc

# USGS (no key needed for most endpoints)
USGS_BASE_URL=https://waterservices.usgs.gov/nwis